{
    "extension": [
        ".ts"
    ],
    "include": [
        "src/**",
        "utils/**"
    ],
    "exclude": [
        "rollup.**.ts",
        "test/**",
        "coverage/**",
        ".history/**"
    ]
}
